<div class="theme-details-component">
  <!-- Theme Details Section -->
  <div class="theme-header">
    <h2 class="theme-name">{{theme.themeName}}</h2>
    <p class="theme-created-at">
      Created on: <span id="createdAt">{{theme.created_at}}</span>
    </p>
    <p class="theme-subscribers">
      Subscribers: <span id="subscribers">{{theme.subscribers.length || 0}}</span>
    </p>
  </div>

  <!-- Comments Section -->
  <div class="comments-section">
    <h3>Comments</h3>

    <!-- Display comments dynamically here -->
    <div id="comments-container">
      <!-- Example of comment -->
      @for (comment of theme.posts; track $index) {

          <div class="comment">
            <p>
              <strong>{{comment.userId.username}}</strong>{{comment.text}}
            </p>
            <p>{{comment.likes.length || 0}}</p>
          </div>
       }
    
    </div>

    <!-- Add Comment Form -->
    <div class="add-comment">
      <h4>Add a Comment</h4>
      <textarea
        id="comment-text"
        placeholder="Write your comment here..."
      ></textarea>
      <button class="comment-button" onclick="addComment()">Submit</button>
    </div>
  </div>
</div>
