<!-- Header Container -->
<header class="header">

    <!-- Top Navigation -->
    <nav class="top-nav">
      <ul>
          @if(isLoggedIn){
              <li>
                  <a routerLink="/profile" class="profile-link">
                      <i class="fas fa-user-circle"></i> 
                      {{username}}'s profile
                  </a>
              </li>
              <li>
                  <button class="logout-button" (click)="logout()">
                      Logout
                  </button>
              </li>
          }
          @else {
              <li>
                  <a routerLink="/login" class="nav-link">Login</a>
              </li>
              <li>
                  <a routerLink="/register" class="nav-link">Register</a>
              </li>
          }
      </ul>
  </nav>
  
    <!-- Logo and Header Title -->
    <div class="header-main">
      <div class="logo">
        <img class="image" src="logo22.png" alt="">
      </div>
      <h1 class="header-title">
        DISCUSSIONS ON IMPORTANT TOPICS!
      </h1>
    </div>
  
    <!-- Bottom Navigation -->
    <nav class="bottom-nav">
      <ul>
       
        <li>
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li>
          <a routerLink="/themes" class="nav-link">Themes</a>
        </li>
        @if(isLoggedIn){

          <li>
            <a routerLink="/add-theme" class="nav-link">New Theme</a>
          </li>
          <li>
            <a routerLink="/my-themes" class="nav-link">My Themes</a>
          </li>
          <li>
              <a routerLink="/profile" class="nav-link">My Profile</a>
            </li>
        }
      </ul>
    </nav>
  
  </header>
  
