<!-- Header Container -->
<header class="header">

    <!-- Top Navigation -->
    <nav class="top-nav">
      <ul>
        <li>
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
        <li>
          <a routerLink="/register" class="nav-link">Register</a>
        </li>
      </ul>
    </nav>
  
    <!-- Logo and Header Title -->
    <div class="header-main">
      <div class="logo">
        <img class="image" src="logo22.png" alt="">
      </div>
      <h1 class="header-title">
        DISCUSSION ON IMPORTANT TOPICS!
      </h1>
    </div>
  
    <!-- Bottom Navigation -->
    <nav class="bottom-nav">
      <ul>
        <li>
          <a routerLink="/" class="nav-link">Home</a>
        </li>
        <li>
          <a routerLink="/themes" class="nav-link">Themes</a>
        </li>
        <li>
          <a routerLink="/new-theme" class="nav-link">New Theme</a>
        </li>
        <li>
          <a routerLink="/my-themes" class="nav-link">My Themes</a>
        </li>
      </ul>
    </nav>
  
  </header>
  
