<div class="login-container">
  <h2>Login</h2>
  <form #form="ngForm" (ngSubmit)="login(form)">
    <input
      type="email"
      class="input-field"
      placeholder="Email"
      name="email"
      (input)="resetError()"
      ngModel
      #inputEmail="ngModel"
      required
      [appEmail]="domains"
    />
    @if(inputEmail?.touched){
      <div>
        @if(inputEmail?.errors?.['required']){
        <p class="error">Email is required!</p>
        }
        <!--  -->
        @if(inputEmail?.errors?.['emailValidator']){
        <p class="error">Email is not valid!</p>
        }
      </div>
      }
    <input
      
      type="password"
      class="input-field"
      placeholder="Password"
      name="password"
      (input)="resetError()"
      ngModel
      #inputPassword="ngModel"
      required
    />
    @if(inputPassword?.touched){
      <div>
        @if(inputPassword?.errors?.['required']){
        <p class="error">Password is required!</p>
        }
        <!--  -->
        @if(inputPassword?.errors?.['minlength']){
        <p class="error">Password must be at least 5 characters!</p>
        }
      </div>
      }

    <button class="login-button" [disabled]="form.invalid">Login</button>
  </form>
  @if(errorMessage){

  <div class="error-message">
    {{ errorMessage }}
  </div>
  }
  <div class="register-link">
    <p>Don't have an account? <a routerLink="/register">Register here</a></p>
  </div>
</div>
