<div class="themes-list">
    <h2 class="list-title">Themes List</h2>
    <ul class="themes-container">
        <!-- Example Theme Item -->
        <li class="theme-item">
            <a routerLink="/themes/1" class="theme-link">
                <div class="theme-summary">
                    <h3 class="theme-name">Theme Name 1</h3>
                    <p class="theme-created-at">Created on: <span>December 1, 2024</span></p>
                    <p class="theme-subscribers">Subscribers: <span>1250</span></p>
                </div>
            </a>
        </li>
        <li class="theme-item">
            <a routerLink="/themes/1" class="theme-link">
                <div class="theme-summary">
                    <h3 class="theme-name">Theme Name 1</h3>
                    <p class="theme-created-at">Created on: <span>December 1, 2024</span></p>
                    <p class="theme-subscribers">Subscribers: <span>1250</span></p>
                </div>
            </a>
        </li>
        <li class="theme-item">
            <a routerLink="/themes/1" class="theme-link">
                <div class="theme-summary">
                    <h3 class="theme-name">Theme Name 1</h3>
                    <p class="theme-created-at">Created on: <span>December 1, 2024</span></p>
                    <p class="theme-subscribers">Subscribers: <span>1250</span></p>
                </div>
            </a>
        </li>
        <li class="theme-item">
            <a routerLink="/themes/1" class="theme-link">
                <div class="theme-summary">
                    <h3 class="theme-name">Theme Name 1</h3>
                    <p class="theme-created-at">Created on: <span>December 1, 2024</span></p>
                    <p class="theme-subscribers">Subscribers: <span>1250</span></p>
                </div>
            </a>
        </li>
        <li class="theme-item">
            <a routerLink="/themes/1" class="theme-link">
                <div class="theme-summary">
                    <h3 class="theme-name">Theme Name 1</h3>
                    <p class="theme-created-at">Created on: <span>December 1, 2024</span></p>
                    <p class="theme-subscribers">Subscribers: <span>1250</span></p>
                </div>
            </a>
        </li>
        <!-- Add more theme items here -->
    </ul>
</div>